<h1>New Post</h1>

<%= erb :_form_errors, layout: false %>

<form action="/posts" method="POST">
  <%= erb :_form_fields, layout: false %>

  <input type="submit" value="Create">
</form>

<a href="/">Back</a>
